.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C5476;
  width: auto;
  height: 60px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.486); 

  .innerContainer {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
  }
}

.searchBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: none;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.445);
  color: white;
  padding: 1rem;

  input {
    background: none;
    border: none;
    color: white;

    &::placeholder {
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}

.avatar {
  width: 30px;
  border-radius: 50%;
}